
//background color
body
{
  // light gray
  // background-color: #ededed;

  // navy blue
  background-color: #262938;
}

// logo
img
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// alt text
img
{
  color: #FFFFFF;
}


figcaption
{
  color: #FFFFFF;

  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  // padding-top: 10px;
  text-align: center;

  position: relative;

}

// hover
figcaption:hover
{
  // light gray
  color: #ededed;
}
