//background color
body
{
  // light gray
  // background-color: #ededed;

  // navy blue
  background-color: #262938;
}

// logo
img
{
  display: block;

  // top/bott = 0; left/right = auto
  margin: 0 auto;
  padding-top: 310px;
}

// alt text
img
{
  color: #FFFFFF;
}


figcaption
{
  color: #FFFFFF;

  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

// hover
figcaption:hover
{
  // light gray
  color: #ededed;
}
