body
{
  background-color: #ededed; /* light grey*/
}

header > h1
{
  font-family: 'Roboto';
}

h1
{
  color: black;
  font-family: 'Roboto';
}
h2
{
  color: #232323; /* light black */
  font-family: 'Lato';
  font-size: x-large;
}
h4
{
  color: #303030;
  font-family: 'Roboto';
  font-size: large;
}
h6
{
  color: #303030;
  font-family: 'PT Sans';
  font-size: medium;
}
p
{
  color: #232323; /* light black. */
  font-family: 'Open Sans';
}
ul > li /* used for li elements in ul */
{
  color: #303030;
  font-family: 'Lato';
}
figcaption
{
  color: #303030;
  font-family: 'Open Sans';
}
summary
{
  color: #303030;
  font-family: 'Slabo';
}
