body
{
  /* light grey */
  /*background-color: #ededed;*/

  /* dark navyblue */
  background-color: #262938;
}

img
{
  display: block;
  margin: 0 auto;
  padding-top: 325px;
}

figcaption
{
  /* Color: pure white. */
  color: #FFFFFF;

  /* Font: Ubuntu */
  font-family: 'Ubuntu', sans-serif;

  /* Size: 20px */
  font-size: 20px;

  /* Padding: 10px from top */
  padding-top: 10px;

  /* Align: Center */
  text-align: center;
}
